@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

$gfont: "VT323", monospace;

$primary_color: #a39686;
$secondary_color: #637b62;
$accent_color1: #d69130;
$accent_color2: #386868;
$background_color: #cbd0c2;
$text_color: #303030;
