@import "./variables";

* {
	box-sizing: border-box;
}

/* Remove margin and padding from elements */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
dd,
figure,
figcaption,
dl,
dd,
dt {
	margin: 0px;
	padding: 0px;
}

/* Inherit colors */
h1,
h2,
h3,
h4,
li,
dt,
dd {
	font-family: $gfont;
	color: $text_color;
}

p {
	color: $text_color;
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
	font-size: 16px;
}

body {
	/* Hide persistent scrollbar in IE (10/11) and Edge */
	-ms-overflow-style: -ms-autohiding-scrollbar;
	/* Anchor links will transition rather than skip */
	scroll-behavior: smooth;
	/* Reset font size to 1rem, in case it has a pixel value */
	font-size: 1rem;
	min-height: 100vh;
	position: relative;
	background-color: $background_color;
	font-size: 25px;
}

main {
	padding-bottom: 2.5rem; /* Footer height */
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; /* Footer height */
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration: underline;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	cursor: pointer;
}
/* Turn off the recent search in WebKit. */
::-webkit-search-decoration {
	display: none;
}

/* Normalise form field line-height in WebKit */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	line-height: normal;
}

/* Make a search box appear like a text box */
input[type="search"] {
	-webkit-appearance: textfield;
}

/* Make images responsive */
img {
	max-width: 100%;
}

/* Explanatory text for screen readers */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	body {
		scroll-behavior: auto;
	}

	* {
		-webkit-animation: none !important;
		animation: none !important;
		transition: none !important;
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	ul {
		list-style-type: none;

		li {
			display: inline-block;
			width: 100px;
		}
	}
}
