@import "./variables";

* {
	box-sizing: border-box;
}

/* Remove margin and padding from elements */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	font-family: $gfont;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

body {
	/* Hide persistent scrollbar in IE (10/11) and Edge */
	-ms-overflow-style: -ms-autohiding-scrollbar;
	/* Anchor links will transition rather than skip */
	scroll-behavior: smooth;
	/* Reset font size to 1rem, in case it has a pixel value */
	color: $text_color;
	background-color: $background_color;
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
	font-size: 1rem;
	min-height: 100vh;
	position: relative;
}

main {
	padding-bottom: 2.5rem; /* Footer height */
}

footer {
	position: absolute;
	bottom: 0;
	height: 2.5rem; /* Footer height */
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration: underline;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	cursor: pointer;
}
/* Turn off the recent search in WebKit. */
::-webkit-search-decoration {
	display: none;
}

/* Normalise form field line-height in WebKit */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	line-height: normal;
}

/* Make images responsive */
img {
	max-width: 100%;
}

/* Explanatory text for screen readers */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	body {
		scroll-behavior: auto;
	}

	* {
		-webkit-animation: none !important;
		animation: none !important;
		transition: none !important;
	}
}

#root {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 2rem 0 1rem 0;
	ul {
		list-style-type: none;

		li {
			display: inline-block;
			text-align: center;
			padding: 0 1.2rem;
		}
	}

	.nav-link {
		color: inherit;
		font-size: 1.5rem;
		text-decoration: none;

		&.active {
			border-bottom: 0.3rem solid $accent-color2;
		}
	}
}
